<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moschino </title>
    <link rel="stylesheet" th:href="@{/css/woocommerce-layout.css}"
          type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/woocommerce-smallscreen.css}"
          type="text/css" media="only screen and (max-width: 768px)"/>
    <link rel="stylesheet" th:href="@{/css/woocommerce.css}" type="text/css"
          media="all"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
          type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"
          media="all"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700"
          type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/easy-responsive-shortcodes.css}"
          type="text/css" media="all"/>
</head>
<body>
<header th:fragment="masthead" id="masthead" class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a th:href="@{/about}" rel="home">Moschino</a></h1>
    </div>
    <nav id="site-navigation" class="main-navigation">
        <button class="menu-toggle">Menu</button>
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <div class="menu-menu-1-container">
            <ul id="menu-menu-1" class="menu">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/blog}">Blog</a></li>
                <li>
                    <a href="#">Categories</a>
                    <ul class="sub-menu">
                        <li th:each="category : ${categories}">
                            <a th:text="${category.getName()}"
                               th:href="@{/blog/category/{title}(title=${category.getName()})}"></a>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<footer th:fragment="footer" id="colophon" class="site-footer">
    <div class="container">
        <div class="site-info">
            <h1 style="font-family: 'Herr Von Muellerhoff', serif; color: #ccc; font-weight: 300; text-align: center; margin-bottom: 0; margin-top: 0; line-height: 1.4; font-size: 46px;">
                Moschino</h1>
            <a target="blank" href="https://www.wowthemes.net/">&copy;
                Moschino </a>
        </div>
    </div>
</footer>

<div th:fragment="recent" id="secondary" class="column third">
    <div id="sidebar-1" class="widget-area" role="complementary">
        <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h4 class="widget-title">Recent Posts</h4>
            <ul>
                <li th:each="title : ${recentTitles}">
                    <a th:text="${title}"
                       th:href="@{/blog/article/{title}(title=${title.replace(' ', '_')})}"></a>
                </li>
            </ul>
        </aside>

        <aside id="recent-comments-2" class="widget widget_recent_comments">
            <h4 class="widget-title">Recent Comments</h4>
            <ul id="recentcomments">
                <li class="recentcomments"
                    th:each="comment : ${recentComments}">
                    <span th:text="${comment['ACCOUNT_NAME']}"></span> on
                    <a th:href="@{/blog/article/{title}(title=${comment['ARTICLE_TITLE'].replace(' ', '_')})}"
                       th:text="${comment['ARTICLE_TITLE']}"></a>
                </li>
            </ul>
        </aside>
    </div>
    <!-- .widget-area -->
</div>

<a th:fragment="top" href="#top" class="smoothup" title="Back to top">
    <span class="genericon genericon-collapse"></span>
</a>
</body>
</html>