<!DOCTYPE html>
<html lang="en-US" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::head}">
    <title>Home</title>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div id="page">
    <div class="container">
        <header th:replace="~{fragments::masthead}"></header>
        <!-- #masthead -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area column full">
                <main id="main" class="site-main">
                    <div class="grid portfoliogrid">

                        <article th:each="article : ${articles}">
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <a th:href="@{/portfolio-item.html}">
                                        <img th:src="${article.getLogo()}"
                                             style="width: 250px; height: 300px;"
                                             alt="Random Image">
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a th:href="@{/portfolio-item.html}"
                                       th:text="${article.getTitle()}"
                                       rel="bookmark">Sunset Beach</a>
                                </h2>
                                <div class="portfolio-types">
                                    <span th:each="word : ${#strings.arraySplit(article.getGroup(), ' ')}">
                                      <a class="portfoliotype" th:text="${word}"
                                         th:href="@{/portfolio-category.html}">${word}</a>
                                        <span th:unless="${wordStat.last}"> </span>
                                    </span>
                                </div>

                            </header>
                        </article>

                        <!-- Repeat the same structure for other articles -->

                    </div>
                    <!-- .grid -->

                    <nav class="pagination">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#">Next »</a>
                    </nav>
                    <br/>

                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- #content -->
    </div>
    <!-- .container -->
    <footer th:replace="~{fragments::footer}"></footer>
    <a th:replace="~{fragments::top}"></a>
</div>
<!-- #page -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/masonry.pkgd.min.js}"></script>
</body>
</html>
