<!DOCTYPE html>
<html lang="en-US">
<head th:replace="~{fragments::head}">
    <title>Categories</title>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div id="page">
    <div class="container">
        <header th:replace="~{fragments::masthead}"></header>
        <!-- #masthead -->
        <div id="content" class="site-content" >
            <div id="primary" class="content-area column full">
                <main id="main" class="site-main">
                    <header class="page-header">
                        <h3 th:text="${categoryName}" class="page-title"></h3>
                    </header>
                    <div class="grid portfoliogrid">
                        <article class="hentry" th:each="article : ${articles}">
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <a th:href="@{/blog/article/{title}(title=${article.getTitle().replace(' ', '_')})}">
                                        <img th:src="${article.getLogo()}"
                                             style="width: 250px; height: 300px;"
                                             alt="Random Image">
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a th:href="@{/blog/article/{title}(title=${article.getTitle().replace(' ', '_')})}"
                                       th:text="${article.getTitle()}"
                                       rel="bookmark">Hot Afternoon</a>
                                </h2>
                                <div class="portfoliotype">
									<span th:each="word : ${#strings.arraySplit(article.getArticle_group(), ' ')}">
									  <a class="portfoliotype" th:text="${word}"
										 th:href="@{/portfolio-category.html}">${word}</a>
										<span th:unless="${wordStat.last}"> </span>
									</span>
                                </div>
                            </header>
                        </article>
                    </div>
                    <!-- .grid -->
                    <br><br>
                    <nav class="pagination">
                        <span class="page-numbers current"
                              th:text="${currentPage}">1</span>
                        <a class="page-numbers" th:each="page : ${pages}"
                           th:href="@{/blog/category/{title}(title=${categoryName},page=${page + 1})}"
                           th:text="${page + 1}"></a>
                        <a class="next page-numbers"
                           th:if="${currentPage + 1 < totalPages}"
                           th:href="@{/blog/category/{title}(title=${categoryName},page=${currentPage + 1})}">Next »</a>
                    </nav>

                    <br/>

                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- #content -->
    </div>
    <!-- .container -->
    <footer th:replace="~{fragments::footer}"></footer>
    <a th:replace="~{fragments::top}"></a>
</div>
<!-- #page -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/masonry.pkgd.min.js}"></script>
</body>
</html>